* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.form {
    padding: 20px;
}



.form__label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.label__title {
    margin-left: 10px;
}


.form__input:checked + .form__controller {
    background-image: url('../images/table-tennis.png');
}

.form__controller {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: 15px 17px;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 2px;
}

.form__input:checked + .basketball {
    background-image: url('../images/basketball-ball.png');
}

.form__input:checked + .volleyball {
    background-image: url('../images/volleyball-ball.png');
}

.form__input:disabled + .volleyball {
    opacity: 0.4;
}

.volleyball__title {
    margin-left: 30px;
}

.form__input:checked + .hockey {
    background-image: url('../images/hockey-puck.png');
    opacity: 0.4;
}

.hockey__title {
    margin-left: 30px;
}

.button {
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #295091;
    color: white;
    border: none;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}

.button:hover {
    opacity: 0.9;
}


